<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-advertisement-heading" jhiTranslate="bonlyApp.advertisement.home.createOrEditLabel">Create or edit a Advertisement</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bonlyApp.advertisement.activeFrom" for="field_activeFrom">Active From</label>
                    <div class="d-flex">
                        <input id="field_activeFrom" type="datetime-local" class="form-control" name="activeFrom" formControlName="activeFrom" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('activeFrom')!.invalid && (editForm.get('activeFrom')!.dirty || editForm.get('activeFrom')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('activeFrom')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('activeFrom')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bonlyApp.advertisement.activeUntill" for="field_activeUntill">Active Untill</label>
                    <div class="d-flex">
                        <input id="field_activeUntill" type="datetime-local" class="form-control" name="activeUntill" formControlName="activeUntill" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('activeUntill')!.invalid && (editForm.get('activeUntill')!.dirty || editForm.get('activeUntill')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('activeUntill')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('activeUntill')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bonlyApp.advertisement.image" for="field_image">Image</label>
                    <div>
                        <div *ngIf="editForm.get('image')!.value" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(editForm.get('imageContentType')!.value, editForm.get('image')!.value)" jhiTranslate="entity.action.open">open</a><br>
                            <span class="pull-left">{{ editForm.get('imageContentType')!.value }}, {{ byteSize(editForm.get('image')!.value) }}</span>
                            <button type="button" (click)="editForm.patchValue({image: null});editForm.patchValue({imageContentType: null});"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_image" (change)="setFileData($event, 'image', false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                    <input type="hidden" class="form-control" name="image" id="field_image"
                           formControlName="image"/>
                    <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                           formControlName="imageContentType" />
                    <div *ngIf="editForm.get('image')!.invalid && (editForm.get('image')!.dirty || editForm.get('image')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('image')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bonlyApp.advertisement.question" for="field_question">Question</label>
                    <input type="text" class="form-control" name="question" id="field_question"
                           formControlName="question"/>
                    <div *ngIf="editForm.get('question')!.invalid && (editForm.get('question')!.dirty || editForm.get('question')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('question')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bonlyApp.advertisement.correctAnswer" for="field_correctAnswer">Correct Answer</label>
                    <select class="form-control" id="field_correctAnswer" name="correctAnswer" formControlName="correctAnswerId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="advertisementAnswersOption.id" *ngFor="let advertisementAnswersOption of correctanswers; trackBy: trackById">{{ advertisementAnswersOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
