<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="advertisement">
            <h2><span jhiTranslate="bonlyApp.advertisement.detail.title">Advertisement</span> {{ advertisement.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="bonlyApp.advertisement.activeFrom">Active From</span></dt>
                <dd>
                    <span>{{ advertisement.activeFrom }}</span>
                </dd>
                <dt><span jhiTranslate="bonlyApp.advertisement.activeUntill">Active Untill</span></dt>
                <dd>
                    <span>{{ advertisement.activeUntill }}</span>
                </dd>
                <dt><span jhiTranslate="bonlyApp.advertisement.image">Image</span></dt>
                <dd>
                    <div *ngIf="advertisement.image">
                        <a (click)="openFile(advertisement.imageContentType, advertisement.image)" jhiTranslate="entity.action.open">open</a>
                        {{ advertisement.imageContentType }}, {{ byteSize(advertisement.image) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="bonlyApp.advertisement.question">Question</span></dt>
                <dd>
                    <span>{{ advertisement.question }}</span>
                </dd>
                <dt><span jhiTranslate="bonlyApp.advertisement.correctAnswer">Correct Answer</span></dt>
                <dd>
                    <div *ngIf="advertisement.correctAnswerId">
                        <a [routerLink]="['/advertisement-answers', advertisement.correctAnswerId, 'view']">{{ advertisement.correctAnswerId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/advertisement', advertisement.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
