<div>
    <h2 id="page-heading">
        <span jhiTranslate="bonlyApp.prizeRegistration.home.title">Prize Registrations</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-prize-registration" [routerLink]="['/prize-registration/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="bonlyApp.prizeRegistration.home.createLabel">
            Create a new Prize Registration
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="prizeRegistrations?.length === 0">
        <span jhiTranslate="bonlyApp.prizeRegistration.home.notFound">No prizeRegistrations found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="prizeRegistrations && prizeRegistrations.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="bonlyApp.prizeRegistration.registation">Registation</span></th>
                    <th scope="col" ><span jhiTranslate="bonlyApp.prizeRegistration.prize">Prize</span></th>
                    <th scope="col" ><span jhiTranslate="bonlyApp.prizeRegistration.user">User</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let prizeRegistration of prizeRegistrations ;trackBy: trackId">
                    <td><a [routerLink]="['/prize-registration', prizeRegistration.id, 'view']">{{ prizeRegistration.id }}</a></td>
                    <td>{{ prizeRegistration.registation | date:'medium' }}</td>
                    <td>
                        <div *ngIf="prizeRegistration.prizeId">
                            <a [routerLink]="['/prize', prizeRegistration.prizeId , 'view']" >{{ prizeRegistration.prizeId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="prizeRegistration.userId">
                            <a [routerLink]="['/person', prizeRegistration.userId , 'view']" >{{ prizeRegistration.userId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/prize-registration', prizeRegistration.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/prize-registration', prizeRegistration.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(prizeRegistration)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
