<jhi-bubble-backend></jhi-bubble-backend>
<div [ngSwitch]="adExist">
    <div *ngSwitchCase="true">
        <div class="ad-choice-block">
            <div>
                <p class="question-header">{{advertisement?.question}}</p>
            </div>
            <div class="ad-image-container">
                <img class="object-fit-cover" src="{{advertisement?.image}}" alt="Prize">
            </div>
            <div class="ad-choice-button-group mt-2">

                <div id="wrapper">
                    <button class=" item" (click)="chooseAnswer(advertisement?.id, answer?.id)"
                            *ngFor="let answer of advertisement?.advertisementAnswers">{{answer.answer}}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div *ngSwitchCase="false">
        <div class="full-height">
            <div class="center">
                <p class="text-bold">Oops!</p>
                <p class="text-bold">No more ads to show :(</p>
                <p>Try again later</p>
            </div>
        </div>
    </div>
</div>




