<div class="fixed-bottom bar justify-content-center" *ngIf="isAuthenticated()">
    <mat-toolbar class="justify-content-center">
        <button (click)="navigateToPrizes()" mat-icon-button>
            <mat-icon>emoji_events</mat-icon>
        </button>
        <button (click)="navigateToAds()" mat-icon-button>
            <mat-icon>collections</mat-icon>
        </button>
        <button (click)="navigateToContactInfo()" mat-icon-button>
            <mat-icon>today</mat-icon>
        </button>
        <button (click)="navigateToAccountSettings()" mat-icon-button>
            <mat-icon>perm_identity</mat-icon>
        </button>
    </mat-toolbar>
</div>
