<div>
    <h2 id="page-heading">
        <span>User Advertisement Answers</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-user-advertisement-answers" [routerLink]="['/admin/user-advertisement-answers/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new User Advertisement Answers
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="userAdvertisementAnswers?.length === 0">
        <span>No userAdvertisementAnswers found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="userAdvertisementAnswers && userAdvertisementAnswers.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>State Province</span></th>
                    <th scope="col" ><span>User</span></th>
                    <th scope="col" ><span>Advertisement</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let userAdvertisementAnswers of userAdvertisementAnswers ;trackBy: trackId">
                    <td><a [routerLink]="['/admin/user-advertisement-answers', userAdvertisementAnswers.id, 'view']">{{ userAdvertisementAnswers.id }}</a></td>
                    <td>{{ userAdvertisementAnswers.stateProvince }}</td>
                    <td>
                        <div *ngIf="userAdvertisementAnswers.userId">
                            <a [routerLink]="['/admin/person', userAdvertisementAnswers.userId , 'view']" >{{ userAdvertisementAnswers.userId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="userAdvertisementAnswers.advertisementId">
                            <a [routerLink]="['/admin/advertisement', userAdvertisementAnswers.advertisementId , 'view']" >{{ userAdvertisementAnswers.advertisementId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/admin/user-advertisement-answers', userAdvertisementAnswers.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/admin/user-advertisement-answers', userAdvertisementAnswers.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(userAdvertisementAnswers)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
