/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url('../../content/images/jhipster_family_member_2.svg') no-repeat center top;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/jhipster_family_member_2.svg') no-repeat center top;
    background-size: contain;
  }
}

.center {
  text-align: center;
}

.bonly-logo {
  font-size: 9rem;
  color: #000000;
  font-family: Rubik Mono One, Montserrat, 'Helvetica Neue', sans-serif;
  font-weight: 400;
  display: block;
  font-style: normal;
}

.bonly-logo-container {
  margin-top: 6rem;
  animation: fadein 1s;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bonly-buttom-container {
  animation: fadein 0.5s;
  position: fixed;
  bottom: 3rem;
  width: 100vw;
}

.bonly-text {
  font-size: 1rem;
  color: #000000;
  font-family: Rosario, Montserrat, 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
  bottom: 3rem;
  letter-spacing: 12px;
  margin-left: 0.75rem;
}
