<div>
    <div [ngSwitch]="isAuthenticated()">
        <div *ngSwitchCase="true">
        </div>
        <div *ngSwitchCase="false">
            <div class="center bonly-logo-container">
                <span class="bonly-logo">B</span>
                <span class="bonly-text">BONLY</span>
            </div>
            <div class="bonly-buttom-container">
                <button class="bonly-ui-button mb-3" (click)="login()"
                        jhiTranslate="global.messages.info.authenticated.link">
                    sign in
                </button>
                <button class="bonly-ui-button mb-3" (click)="register()" jhiTranslate="global.messages.info.register.link">
                    Register a new account
                </button>

                <button class="bonly-ui-button mb-3" (click)="forgotPassword()"
                        jhiTranslate="global.messages.info.forgot.password.link">
                    Forgot password
                </button>
            </div>
        </div>
    </div>
</div>
