<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="prize">
            <h2><span jhiTranslate="bonlyApp.prize.detail.title">Prize</span> {{ prize.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="bonlyApp.prize.registationStops">Registation Stops</span></dt>
                <dd>
                    <span>{{ prize.registationStops }}</span>
                </dd>
                <dt><span jhiTranslate="bonlyApp.prize.winnerChosenAt">Winner Chosen At</span></dt>
                <dd>
                    <span>{{ prize.winnerChosenAt }}</span>
                </dd>
                <dt><span jhiTranslate="bonlyApp.prize.creditsRequired">Credits Required</span></dt>
                <dd>
                    <span>{{ prize.creditsRequired }}</span>
                </dd>
                <dt><span jhiTranslate="bonlyApp.prize.winner">Winner</span></dt>
                <dd>
                    <div *ngIf="prize.winnerId">
                        <a [routerLink]="['/person', prize.winnerId, 'view']">{{ prize.winnerId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/prize', prize.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
