.center {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.full-height {
  height: 100vh;
}

.winner-block {
  position: absolute;
  bottom: 13rem;
  transform: translateX(50%);
  right: 10rem;
  font-weight: 800;
  text-shadow: 1px 1px 6px #e0d9d9;
  text-align: center;
}

.winner-block .winner-block--text {
  font-size: 1.25rem;
}

.winner-block .winner-block--name {
  font-size: 1rem;
}
