<div>
    <div>
        {{availableCreditCount}}
        <mat-icon>local_activity</mat-icon>
    </div>
</div>

<div [ngSwitch]="prizesExist">
    <div *ngSwitchCase="true">
        <div class="card-image-award-container"
             *ngFor="let prize of prizes"
             (click)="!prize.winnerId ? openPrizeRegistration(prize) : null">
            <div class="image-container" >
                <img class=""
                     [className]="!prize.winnerId ? 'object-fit-cover' : 'blurred object-fit-cover'" src="{{prize.image}}" alt="Prize">
                <div class="card-image-award-ribbon-container">
                    <div class="card-image-award card-image-award-ribbon"></div>
                    <div class="card-image-award card-image-award-date">{{prize.winnerChosenAt | date:'dd.MM'}}</div>
                    <div class="card-image-award card-image-award-type">MONTHLY</div>
                    <div class="card-image-award card-image-award-text">LOTTERY</div>
                    <div class="card-image-award card-image-award-hr"></div>
                    <div class=" card-image-award card-image-award-ticket-count">{{prize.creditsRequired}}
                        <mat-icon>local_activity</mat-icon>
                    </div>
                    <div class="winner-block" *ngIf="prize.winnerId">
                        <span class="winner-block--text">WINNER</span>
                        <span class="winner-block--name">{{prize.winnerLogin}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngSwitchCase="false">
        <div class="full-height">
            <div class="center">
                <p>Oops!</p>
                <p>Prizes currently available</p>
                <p>Try again later</p>
            </div>
        </div>
    </div>
</div>




