<div class="content-container">
    <div class="flex-center">
        <div class="content-header">
            <h4 class="modal-title" jhiTranslate="reset.request.title">Forgot password</h4>
        </div>
    </div>
    <div class="flex-center">
        <div class="content-header">
            <p class="modal-title">Enter the email address you used to register and we will send you details on how to reset your password.</p>
        </div>
    </div>
    <div>
        <div>
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="flex-center">
                        <div class="wide-input">
                            <jhi-alert-error></jhi-alert-error>
                            <div class="alert alert-success" *ngIf="success">
                                <span jhiTranslate="reset.request.messages.success">Check your emails for details on how to reset your password.</span>
                            </div>
                        </div>
                    </div>
                    <form *ngIf="!success" name="form" role="form" (ngSubmit)="requestReset()"
                          [formGroup]="resetRequestForm">
                        <div class="form-group">
                            <div class="p-4">
                                <div class="flex-center">
                                    <mat-form-field class="wide-input">
                                        <mat-label>Email</mat-label>
                                        <input type="email"
                                               matInput
                                               id="email"
                                               name="email"
                                               autocomplete="off"
                                               placeholder="{{ 'global.form.email.placeholder' | translate }}"
                                               formControlName="email">
                                    </mat-form-field>
                                </div>

                            </div>
                        </div>
                    </form>
                    <div class="navigation-arrows-container">
                        <button type="button" mat-icon-button (click)="backToHomePage()">
                            <mat-icon>keyboard_arrow_left</mat-icon>
                            Back
                        </button>

                        <button mat-icon-button  *ngIf="!success" (click)="requestReset()">
                            Next
                            <mat-icon>keyboard_arrow_right</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
