<div class="content-container">
    <div class="flex-center">
        <div class="content-header">
            <h4 class="modal-title" jhiTranslate="login.title">Sign in</h4>
        </div>
    </div>
    <div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="alert alert-danger" *ngIf="authenticationError"
                     jhiTranslate="login.messages.error.authentication">
                    <strong>Failed to sign in!</strong> Please check your credentials and try again.
                </div>
            </div>

            <div class="p-4">
                <form class="form" role="form" (ngSubmit)="login()" [formGroup]="loginForm">
                    <div class="flex-center">
                        <mat-form-field class="wide-input">
                            <mat-label>Username</mat-label>
                            <input type="text"
                                   matInput
                                   name="username"
                                   autocomplete="off"
                                   placeholder="{{ 'global.form.username.placeholder' | translate }}"
                                   formControlName="username"
                                   #username>
                        </mat-form-field>
                    </div>
                    <div class="flex-center">
                        <mat-form-field class="wide-input">
                            <mat-label>Password</mat-label>
                            <input type="password"
                                   matInput
                                   name="password"
                                   id="password"
                                   autocomplete="off"
                                   placeholder="{{ 'login.form.password.placeholder' | translate }}"
                                   formControlName="password">
                        </mat-form-field>
                    </div>


                    <div class="navigation-arrows-container">
                        <button type="button" mat-icon-button (click)="backToHomePage()">
                            <mat-icon>keyboard_arrow_left</mat-icon>
                            Back
                        </button>

                        <button mat-icon-button (click)="login()">
                            Next
                            <mat-icon>keyboard_arrow_right</mat-icon>
                        </button>
                    </div>
                    <!--                    <div class="form-check">-->
                    <!--                        <label class="form-check-label" for="rememberMe">-->
                    <!--                            <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe"-->
                    <!--                                   formControlName="rememberMe">-->
                    <!--                            <span jhiTranslate="login.form.rememberme">Remember me</span>-->
                    <!--                        </label>-->
                    <!--                    </div>-->
                </form>
            </div>
        </div>
    </div>
</div>
